nextflow.enable.dsl = 2

includeConfig 'conf/base.config'

params {
  reads = null
  outdir = 'results'
  run_label = 'DT'

  qc_sif = '/data/software/singularity/qc_fastqc_multiqc.sif'
  cutadapt_sif = '/data/software/singularity/read_cleanup_cutadapt-5.2.sif'
  qiime_sif = '/data/software/singularity/qiime2_amplicon_2025.7.sif'

  trimm_optimal = false
  trimm_combinations = "${projectDir}/params/trimm_combinations_10bp.tsv"
  taxonomy_confidence = 0.7
  optimal_min_sample_reads = 10000
}

process {
  executor = 'local'
  shell = ['/bin/bash', '-euo', 'pipefail']
}

singularity { enabled = true; autoMounts = true }

profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
